.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 100px;
    .hero-text{
        display: flex;
        width: 100%;
        gap: 20px;
        h1{
            width: 50%;
            font-size: 50px;
            padding-right: 10%;
            text-transform: uppercase;
        }
        p{
            width: 50%;
            padding-right: 20%;
            font-size: 22px;
        }
    }
    .hero-img{
        width: 100%;
        img{
            width: 100%;
        }
    }
}


@media(max-width:992px){
    .hero{
        gap: 20px;
        .hero-text{
            flex-direction: column;
            h1{
                font-size: 40px;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: 18px;
            }
        }
    }
}
@media(max-width:768px){
    .hero{
        gap: 20px;
        .hero-text{
            flex-direction: column;
            h1{
                font-size: 28px;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: 14px;
            }
        }
    }
}
