.talim-hero {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  .talim-heroo {
    display: flex;
    width: 100%;
    padding: 30px 30px 0 30px;
    border-radius: 15px;
    background-color: #f5f5f5;
  }
  .talim-hero__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 40px;
    .talim-hero__info__text {
      display: flex;
      gap: 20px;
      flex-direction: column;
      h1 {
        font-size: 56px;
      }
      p {
        display: flex;
        gap: 20px;
        align-items: center;
        font-family: monospace;
        font-size: 18px;
        span {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #184afb;
        }
      }
    }
    .talim-hero__info__btn {
      button {
        border: none;
        background-color: #184afb;
        padding: 5px 35px;
        border-radius: 40px;
        color: white;
      }
    }
  }
  .talim-hero__img {
    display: flex;
    justify-content: flex-start;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .talim-hero {
    .talim-heroo {
      .talim-hero__info {
        .talim-hero__info__text {
          gap: 10px;
          h1 {
            font-size: 36px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .talim-hero {
    .talim-heroo {
      flex-direction: column-reverse;
      gap: 20px;
      .talim-hero__info {
        .talim-hero__info__text {
          gap: 10px;
          h1 {
            font-size: 36px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.strategy {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .strategy-item {
    display: flex;
    align-items: center;
    gap: 40px;
    .strategy-item__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      .strategy-item__info__text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h1 {
          font-size: 20px;
          font-family: monospace;
          color: #2e3038;
          font-weight: 100;
        }
        p {
          font-size: 14px;
          color: #828388;
        }
      }
    }
    .strategy-item__img {
      img {
        width: 90%;
      }
    }
  }
}

.qadamlar {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.works{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    .works-card{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        .works-card__img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .works-card__text{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1{
                font-size: 26;
                font-family: monospace;
                color: #56585E;
            }
            p{
                color: #828388;
            }
        }
    }
}

@media(max-width:640px){
    .works{
        .works-card{
            .works-card__text{
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media(max-width:550px){
    .works{
        .works-card{
            flex-direction: column;
            .works-card__img{
                img{
                    width: 100%;
                }
            }
            .works-card__text{
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}